<div class=user-content>
  <h2> User: <%= @user.username %> <h2/>
  <br/>
  <p> Posts commented on: <% @user.posts.each do |post| %>
    <%= link_to post.title, post_path(post) %>
  <% end %> <p/>
</div>
